.section_projects {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 0;
}

.corousel-item {
  position: relative;
  height: 500px;
  width: 90%;
  background-color: #B8E7FB;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.carousel-item:hover {
  transform: translateY(-5px);
}

.slide-item{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text-link {
  text-decoration: none;
  color: inherit;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  color: rgb(255, 255, 255);
  text-align: center;
  transition: all 0.3s ease;
}

.carousel-caption:hover {
  background: rgba(0, 0, 0, 0.4);
}

.carousel-caption h5 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.carousel-caption h5 {
  transform: rotateY(-3px);
}

.carousel-caption p {
  font-size: 1rem;
  margin-bottom: 0;
}

.doe-slide .corousel-item{
  border: 10px solid #B8E7FB;
}

.custom-swiper .swiper-pagination {
  position: relative;
  bottom: 20px;
  padding: 10px;
  left: 0;
  text-align: center;
}

.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  color: #0E6BA8;
}

@media (max-width: 768px) {
  .carousel-item {
    height: 400px;
  }

  .carousel-caption {
    padding: 10px;
  }

  .carousel-caption h5 {
    font-size: 1.2rem;
  }

  .carousel-caption p {
    font-size: 0.9rem;
  }
}