:root {
  --background: #ffffff;
  --foreground: #000000;
  --vidro: rgba(255, 255, 255, 0.1);
  --gradienteLink: linear-gradient(90deg, #0033FF, #0600AB, #00033D);
  --gradienteBackground: linear-gradient(135deg, #7226FF, #160078, #010040);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --vidro: rgba(255, 255, 255, 0.1);
    --gradienteLink: linear-gradient(90deg, #0033FF, #0600AB, #00033D);
    --gradienteBackground: linear-gradient(135deg, #7226FF, #160078, #010040);  
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

.header-section {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  gap: 20px;
}

.photo {
  padding: 70px 0;
  margin-right: 100px;
}

.titles-photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 50px;
}

@media (max-width: 768px) {
  .header-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  
  .titles-photo {
    flex-direction: column;
    padding: 0 20px;
    gap: 20px;
  }

  .titles {
    max-width: 100%;
    align-items: center;
    padding-left: 20px;
  }

  .titles h1, .titles h2 {
    padding-left: 0;
    text-align: center;
  }

  .titles h2 {
    padding-left: 0;
  }
  
  .photo {
    width: 100%;
    text-align: center;
  }

  .photo img {
    width: 60%; /* Reduz o tamanho da foto para telas menores */
    height: auto;
  }
}

@media (max-width: 480px) {
  .photo img {
    width: 80%; /* Ajusta o tamanho da foto para smartphones */
  }
}

.titles h1 {
  font-size: 40px;
  font-weight: bold;
  color: #00005b;
}

.titles h2 {
  font-size: 70px;
  font-weight: bold;
  color: #0416db;
  margin-top: -60px;
}
  .skills-typewriter {
    margin-top: -60px;
  }
  
  .typewriter-text {
    margin: 10px;
  }
  
  .typewriter-span {
    font-weight: 500;
    color: #0416db;
    font-size: 30px;
  }
  
  .cursor {
    font-size: 30px;
    color: rgb(8, 0, 255);
  }

p {
  font-size: 22px;
  padding-left: 40px;
  text-align: justify;
  padding-top: 10px;
  line-height: 1.5;
  color: #050047;
}

@media (max-width: 768px) {
  p {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  p {
    font-size: 16px; /* Reduz ainda mais o tamanho da fonte para smartphones */
    padding-left: 10px;
    padding-right: 10px;
    text-align: left; 
  }
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
}

.section-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 0;
}

.section-about h1 {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 10px;
  justify-content: center;
  color: #1102db;
}

.background-about {
  width: 100%;
  height: 200px;
  background-color: #030187dd;
  position: relative;
  border: 1px solid none;
  border-radius: 15px;
}

.section-about p {
  padding: 30px 20px;
  margin-top: -20px;
  width: 80%;
  height: 200px;
  color: white;
  text-align: center;
  font-size: 25px;
}

@media (max-width: 768px) {
  .section-about {
    padding: 20px 10px;
  }
}
.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  padding-top: 50px;
}

.section-projects h1{
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 0;
  justify-content: center;
  color: #1102db;
}


@media (max-width: 768px) {
  .section-projects {
    height: auto;
    padding: 20px 10px;
  }
}

.section-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;
  }

  @media (max-width: 768px) {
    .section-contact {
      padding: 20px 10px;
    }
  }

  .section-contact h1{
    font-size: 50px;
    font-weight: bold;
    padding-top: 0;
    justify-content: center;
    color: #1102db;
  }

  .inputs {
    margin-top: 50px;
    margin-left: -700px;
    padding: 1rem;
    margin-bottom: 50px;
  }


  