.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #D6F1FD;
    color: #092168;
    border: 2px solid #3B508E;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    font-weight: bold;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .scroll-button.visible {
    opacity: 1;
    transform: translateY(0);
  }
  