.profileWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
  }
  
  .profileImageContainer {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      135deg,
      #0dabe9,
      #003ebb
    ); /* Gradiente de fundo */
    padding: 3px;
  }
  
  .profileImageContainer img {
    width: 100%;
    height: auto;
    border-radius: 50%; /* Garante que a imagem seja circular */
    object-fit: cover; /* Ajusta a imagem para preencher o contêiner */
    background-color: white; /* Previne falhas no carregamento da imagem */
  }
  
  .socialIcons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .icon {
    color: #003ebb;
    transition: color 0.3s;
    text-decoration: none;
    font-size: 30px;
  }
  
  .icon:hover {
    color: #63b3ed;
  }
  
  @media (max-width: 768px) {
    .profileImageContainer {
      max-width: 300px;
    }
  
    .icon {
      font-size: 25px;
    }
  }
  
  @media (max-width: 480px) {
    .profileImageContainer {
      max-width: 200px;
    }
  
    .icon {
      font-size: 20px;
    }
  }