.profileWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.profileImageContainer {
  width: 100%;
  max-width: 400px;
  height: auto;
  border: 2px solid var(--vidro);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    135deg,
    #0dabe9,
    #003ebb
  ); /* Gradiente de fundo */
  padding: 3px;
  box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
  animation: flutuar 5s ease-in-out infinite;
}


.profileImageContainer img {
  width: 100%;
  height: auto;
  border-radius: 50%; /* Garante que a imagem seja circular */
  object-fit: cover; /* Ajusta a imagem para preencher o contêiner */
  background-color: white; /* Previne falhas no carregamento da imagem */
}


@media (max-width: 768px) {
  .profileImageContainer {
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .profileImageContainer {
    max-width: 200px;
  }
}

.efeitos {
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background:
  radial-gradient(circle at 10% 20%, var(--secondary) 0%, transparent 20%),
  radial-gradient(circle at 90% 80%, var(--primary) 0%, transparent 20%),
  var(--vidro);
}

@keyframes flutuar {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

}