.timeline-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px;
  }
  
  .timeline-item {
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    gap: 50px;
    align-items: left;
  }
  
  .right h3 {
    font-size: 30px;
    margin: 10px;
    color: #344054;
    padding-left: 30px;
  }

  .left h3 {
    font-size: 30px;
    margin: 10px;
    color: #344054;
    padding-left: 90px;
  }
  
  .left h4 {
    font-size: 20px;
    color: #3e89b9;
    margin: 20px;
    padding-left: 80px;
  }
  
  .period {
    font-size: 15px;
    color: #98a2b3;
    padding-top: 0;
    padding-left: 100px;
  }
  
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -10px;
    padding-top: 70px;
  }
  
  .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: -90px;
  }
  
  .line {
    width: 1px;
    margin: 10px 0;
    border-left: 2px dashed #00072d; /* Linha vertical tracejada */
    background: none; /* Remove fundo caso haja conflito */
  }
  
  .right h3 {
    font-size: 30px;
    margin: 1px;
    color: #49494a;
  }
  
  .right p {
    font-size: 1rem;
    color: #98a2b3;
    padding-left: 37px;
    padding-top: -10px;
  }
  